body {
    background-color: #F0D2F8;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: .5rem 0;
}

* {
    box-sizing: border-box;
}

.heading {
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.heading img {
    width: 2.2rem;
    height: 2.5rem;
    background-size: cover;
}

.heading img:not(:first-child) {}

.letters-pallete {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

div {
    display: flex;
}

:root {
    font-size: 25px;
}

.red,
.blue,
.orange,
.yellow,
.brown,
.purple,
.green,
.pink {
    font-size: 3rem;
    background-color: white;
    font-weight: 900;
    margin: .3rem;
    border: 7px solid;
}

.letters-pallete span {
    width: 4rem;
    height: 4rem;
    box-shadow: 2px 2px 5px rebeccapurple;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px rgba(0, 0, 0, .7);
}

.red {
    color: #FA120E;
    border-color: #FA120E;
}

.blue {
    color: #6466F9;
    border-color: #6466F9;
}

.yellow {
    color: #F2DC00;
    border-color: #F2DC00;
}

.brown {
    color: #CB9966;
    border-color: #CB9966;
}

.orange {
    color: #FF9900;
    border-color: #FF9900;
}

.purple {
    color: #9A00FF;
    border-color: #9A00FF;
}

.green {
    color: #33CC00;
    border-color: #33CC00;
}

.pink {
    color: #FF9A9D;
    border-color: #FF9A9D;
}

.line {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 2rem 0 1rem;
}

p.bred {
    background-color: #FA120E;
    width: 100%;
    height: 5px;
}

p.byellow {
    background-color: #F2DC00;
    width: 100%;
    height: 5px;
}

p.bgreen {
    background-color: #33CC00;
    width: 100%;
    height: 5px;
}

p.bblue {
    background-color: #6466F9;
    width: 100%;
    height: 5px;
}

.words {
    display: flex;
    justify-content: center;
}

.words span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 .2rem;
    border-radius: 50%;
    background: linear-gradient(#FF9A9D, #F2DC00);
    font-size: 2rem;
    font-weight: 400;
}

.letters-pallete span.active {
    background-color: black;
    transform: rotate(20deg);
    color: white;
}